<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css\bootstrap.min.css' %}">

    <title>Document</title>
</head>

<body>
    <div class="jumbotron container">
        <h1 class="display-3">Thanking you </h1>
        <p class="lead text-center">your order is placed now</p>
        <hr class="my-2">
        
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Shop more</a>
        </p>
    </div>



    <script src="{%static 'js\bootstrap.min.js' %}"></script>
    <script src="{%static 'js\jquery-3.5.1.min.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
    </script>
</body>

</html>